.bodyApresentacao{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.blocoApresentacao{
    width: 100%;
    height: auto !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tituloApresentacao{
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 300;
}

.imagenUsuarioApresentacao{
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#imgLogoAvatarApresentacao{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

#textoApresentacao{
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 1rem;
}